*{
    padding: 0 ;
    margin: 0;
    font-family: 'Dosis' ,sans-serif;
}

.bck{
    width: 80% ;
    margin: auto ;

}

.navbar{
    margin: 30 px auto;
    align-items: center;
    display: flex;
    font-size: larger;
}

ul{
    text-align: right;
    flex: 1;
    cursor: pointer;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25 px;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 0 20px ;
}

ul li a::after{
    content: '';
    width: 100%;
    height: 10px;
}

h1{
    text-align: center;
    font-size: xx-large;
    cursor: default;
}
.center{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.guy{
    text-align: right;
}
h2 , h3 , h4 , h5 , h6 {
    font-size: x-large;
    cursor: default;
}

p1, p2 , p3 , p4 , p5 , p6 , p7 , p8 ,p9 , p10 ,p11 ,p13 ,p15 , p16 ,p18{
    cursor: default;
}

p12 , p14 , p17{
    font-size: x-large;
    cursor: default;
}